@font-face {
    font-family: "Barlow Condensed";
    src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: "Barlow Semi";
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: "Bungee Outline";
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Barlow Bold";
    src: url(fonts/BarlowSemiCondensed-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#backdrop {
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
    font-family: "Bungee Shade";
    font-size: 70px;
    color: #6e1d1d;
    padding: 0 20px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 20px 15px;
}

nav a {
    flex-grow: 1;
    font-family: "Barlow Semi";
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

nav a:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #6e1d1d;
}

nav a:nth-child(3):hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #6e1d1d;
}

nav a:nth-child(4):hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #6e1d1d;
}

nav a:nth-child(2) {
    border: 2px solid white;
    padding: 18px;
    box-shadow: 0 0 20px rgba(110, 29, 29, 0.5);
}

span {
    font-family: "Barlow Bold";
}

section.first-container {
    border: 2px solid #6e1d1d;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    margin: 60px 15px 15px 15px;
    color: #6e1d1d;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.first-container div {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 120px auto 120px auto;
}

.first-container div h1 {
    grid-column: 1 / span 5;
    margin: 0px 0 0 10px;
    font-family: "Bungee Outline";
    font-size: 35px;
}

.first-container div h2 {
    grid-column: 1 / span 5;
    font-family: "Barlow Bold";
    font-size: 28px;
    margin: 0;
    padding-left: 10px;
}



.first-container ul, p {
    font-family: "Barlow Condensed";
    font-size: 18px;
    padding-left: 10px;
    margin: 0;
    list-style-type: none;
    grid-column: 1 / span 5;
}


